################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SistemaAlquiler/.vs
/SistemaAlquiler/SistemaAlquiler.API/bin/
/SistemaAlquiler/SistemaAlquiler.API/obj/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/bin/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/obj/
/SistemaAlquiler/SistemaAlquiler.Entidades/obj/
/SistemaAlquiler/SistemaAlquiler.Entidades/bin/
/SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/
/SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/
/SistemaAlquiler/SistemaAlquiler.Controladora/obj/
/SistemaAlquiler/SistemaAlquiler.Controladora/bin/
SistemaAlquiler/SistemaAlquiler.API/appsettings.json
SistemaAlquiler/SistemaAlquiler.Entidades/bin/Debug/net8.0/SistemaAlquiler.Entidades.dll
SistemaAlquiler/SistemaAlquiler.Entidades/bin/Debug/net8.0/SistemaAlquiler.Entidades.pdb
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/ref/SistemaAlquiler.Entidades.dll
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/refint/SistemaAlquiler.Entidades.dll
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.AssemblyInfo.cs
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.AssemblyInfoInputs.cache
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.assets.cache
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.csproj.CoreCompileInputs.cache
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.dll
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.genruntimeconfig.cache
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.pdb
SistemaAlquiler/SistemaAlquiler.Entidades/obj/Debug/net8.0/SistemaAlquiler.Entidades.sourcelink.json
SistemaAlquiler/SistemaAlquiler.Entidades/obj/project.assets.json
SistemaAlquiler/SistemaAlquiler.Entidades/obj/project.nuget.cache
SistemaAlquiler/SistemaAlquiler.Entidades/obj/SistemaAlquiler.Entidades.csproj.nuget.dgspec.json
SistemaAlquiler/SistemaAlquiler.Entidades/obj/SistemaAlquiler.Entidades.csproj.nuget.g.props
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.AccesoDatos.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.AccesoDatos.pdb
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.Entidades.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.Entidades.pdb
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.LogicaNegocio.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/Debug/net8.0/SistemaAlquiler.LogicaNegocio.pdb
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/ref/SistemaAlquiler.LogicaNegocio.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/refint/SistemaAlquiler.LogicaNegocio.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.AssemblyInfo.cs
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.AssemblyInfoInputs.cache
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.assets.cache
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.csproj.AssemblyReference.cache
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.csproj.CoreCompileInputs.cache
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.dll
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.pdb
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/Debug/net8.0/SistemaAlquiler.LogicaNegocio.sourcelink.json
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/project.assets.json
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/project.nuget.cache
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/SistemaAlquiler.LogicaNegocio.csproj.nuget.dgspec.json
SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/SistemaAlquiler.LogicaNegocio.csproj.nuget.g.props
