################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SistemaAlquiler/.vs
/SistemaAlquiler/SistemaAlquiler.API/bin/
/SistemaAlquiler/SistemaAlquiler.API/obj/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/bin/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/obj/
/SistemaAlquiler/SistemaAlquiler.Entidades/obj/
/SistemaAlquiler/SistemaAlquiler.Entidades/bin/
/SistemaAlquiler/SistemaAlquiler.LogicaNegocio/obj/
/SistemaAlquiler/SistemaAlquiler.LogicaNegocio/bin/
/SistemaAlquiler/SistemaAlquiler.Controladora/obj/
/SistemaAlquiler/SistemaAlquiler.Controladora/bin/
SistemaAlquiler/SistemaAlquiler.API/appsettings.json
