################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SistemaAlquiler/.vs
/SistemaAlquiler/SistemaAlquiler.API/bin/
/SistemaAlquiler/SistemaAlquiler.API/obj/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/bin/
/SistemaAlquiler/SistemaAlquiler.AccesoDatos/obj/
/SistemaAlquiler/SistemaAlquiler.Entidades/obj
